<p id="notice"><%= notice %></p>

<p>
  <b>Pseudo:</b>
  <%= @person.Pseudo %>
</p>

<p>
  <b>Mail:</b>
  <%= @person.Mail %>
</p>

<p>
  <b>Age:</b>
  <%= @person.Age %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
